/* header-footer-färg: #60B5FF
main-färg: #FFECDB
hover-färg: #AFDDFF

*/
* {
  margin: 0;
  padding: 0;
}
header, main, footer {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  line-height: 1.3em;
  font-size: 1.1em;
}

header, footer {
  background-color: #60B5FF;
  text-align: center;
  padding: 1%;
}

main {
  background-color: #FFECDB;
  padding: 1%;
}

input {
  margin: 1% 0;
}

#add-btn, #check-btn, #remove-all-btn {
  background-color: #FF9149;
  margin: 1%;
  padding: 0.3% 1%;
}
#add-btn:hover, #check-btn:hover, #remove-all-btn:hover {
  background-color: #AFDDFF;
  cursor: pointer;
}


/*Tabell*/
#toDoTable {
  width: 100%;
}
tr:nth-child(even) {
  background-color: #AFDDFF;
}
th {
  background-color: #AFDDFF;
  border: 1px solid black;
  padding: 0 10px;
  text-align: center;
}
#task-header:hover, #priority-header:hover, #status-header:hover {
  text-decoration: underline;
  color: #FF9149;
  cursor: pointer;
}

td {
  border: 1px solid black;
  padding: 0 10px;
  text-align: center;
}

/* Stilsättning för mindre skärm*/
@media screen and (max-width: 800px) {
  header, main, footer {
    font-size: 0.9em;
  }
  #toDoTable {
    overflow-x: auto;
    font-size: 0.7em;
    border-collapse: collapse;
    margin: 2% 0;
  }
  th, td {
    padding: 0 4px;
  }
}
